<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:\Users\manik\IdeaProjects\FOR_JENKINS\src\main\java\FORjenkinsTESTNG1.java">
        <classes/>
    </test>
</suite>